*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 250px auto 100px;
    height: 30px;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
   
}   
.header-middle{
    display: flex;
    flex: 0.7;
} 
.search-mail{
    display: flex;
    background-color: whitesmoke;
    border-radius: 5px ; 
    flex: 0.7;
}
.search-mail input{
    border: none;
    background-color: whitesmoke;
}
.header-right{
    display: flex;
    justify-content: flex-end;
}